In [99]:
d={}

In [100]:
type(d)

TypeError: 'set' object is not callable

In [ ]:
d1={"name":"palak","email_id":"palak@gmail.com","number":23456}

In [ ]:
type(d1)

dict

In [ ]:
d1

{'name': 'palak', 'email_id': 'palak@gmail.com', 'number': 23456}

In [ ]:
d2={"name":"palak","name":"palakgupta"}  ##second number will show since key should be unique

In [ ]:
d2

{'name': 'palakgupta'}

In [ ]:
d3={23234 : "abc"}

In [ ]:
d3

{23234: 'abc'}

In [ ]:
d4={234.45:"abc"}

In [ ]:
d4

{234.45: 'abc'}

In [ ]:
d5={True:"abc"}

In [ ]:
d5

{True: 'abc'}

In [ ]:
d6={#:"abc"}

SyntaxError: unexpected EOF while parsing (2741267627.py, line 1)

In [ ]:
d7={@:"abc"}

SyntaxError: invalid syntax (2591303980.py, line 1)

In [ ]:
d8={[1,2,3]:"abc"}

TypeError: unhashable type: 'list'

In [ ]:
d9={(1,2,3):"abc"}

In [ ]:
d9

{(1, 2, 3): 'abc'}

In [ ]:
d10={{1,2,3}:"abc"}

TypeError: unhashable type: 'set'

In [ ]:
d11={{"key":234}:"abc"}

TypeError: unhashable type: 'dict'

In [ ]:
d12={"course_name":["data science master","web dev","java with dsa and system design"]}

In [ ]:
d12

{'course_name': ['data science master',
  'web dev',
  'java with dsa and system design']}

In [ ]:
d13={"key":(1,2,3,4,5)}

In [ ]:
d13

{'key': (1, 2, 3, 4, 5)}

In [ ]:
d14={"key":{1,2,3,4}}

In [ ]:
d14

{'key': {1, 2, 3, 4}}

In [ ]:
d15={"key":{"name":"palak","class":"DSM"}}  #nested dictionary

In [ ]:
d15

{'key': {'name': 'palak', 'class': 'DSM'}}

In [ ]:
d16={"batch_name":["data science masters","web dev","JDS"],"start_date":(28,14,21),"mentor_name":{"Krish Naik","Palak","Hayder","Hitesh","Navin"}}

In [ ]:
d16

{'batch_name': ['data science masters', 'web dev', 'JDS'],
 'start_date': (28, 14, 21),
 'mentor_name': {'Hayder', 'Hitesh', 'Krish Naik', 'Navin', 'Palak'}}

In [ ]:
d16["timing"]=(8,8,8)

In [ ]:
d16

{'batch_name': ['data science masters', 'web dev', 'JDS'],
 'start_date': (28, 14, 21),
 'mentor_name': {'Hayder', 'Hitesh', 'Krish Naik', 'Navin', 'Palak'},
 'timing': (8, 8, 8)}

In [ ]:
d16['batch_name']

['data science masters', 'web dev', 'JDS']

In [ ]:
d16['mentor_name']

{'Hayder', 'Hitesh', 'Krish Naik', 'Navin', 'Palak'}

In [ ]:
type(d16['mentor_name'])

TypeError: 'set' object is not callable

In [ ]:
d16["name"]="Kanika"

In [ ]:
d16

{'batch_name': ['data science masters', 'web dev', 'JDS'],
 'start_date': (28, 14, 21),
 'mentor_name': {'Hayder', 'Hitesh', 'Krish Naik', 'Navin', 'Palak'},
 'timing': (8, 8, 8),
 'name': 'Kanika'}

In [ ]:
d16['name'].upper()

'KANIKA'

In [ ]:
d15

{'key': {'name': 'palak', 'class': 'DSM'}}

In [ ]:
d15['key']

{'name': 'palak', 'class': 'DSM'}

In [ ]:
type(d15['key'])

TypeError: 'set' object is not callable

In [ ]:
d15['key']['class']

'DSM'

In [ ]:
d15

{'key': {'name': 'palak', 'class': 'DSM'}}

In [ ]:
d15["key1"]="abc"

In [ ]:
d15

{'key': {'name': 'palak', 'class': 'DSM'}, 'key1': 'abc'}

In [ ]:
del d15['key1']

In [ ]:
d15

{'key': {'name': 'palak', 'class': 'DSM'}}

In [ ]:
d15.clear()

In [ ]:
d15

{}

In [ ]:
len(d16)

5

In [ ]:
d16

{'batch_name': ['data science masters', 'web dev', 'JDS'],
 'start_date': (28, 14, 21),
 'mentor_name': {'Hayder', 'Hitesh', 'Krish Naik', 'Navin', 'Palak'},
 'timing': (8, 8, 8),
 'name': 'Kanika'}

In [ ]:
d16.keys()

dict_keys(['batch_name', 'start_date', 'mentor_name', 'timing', 'name'])

In [ ]:
d16.values()

dict_values([['data science masters', 'web dev', 'JDS'], (28, 14, 21), {'Hayder', 'Navin', 'Krish Naik', 'Hitesh', 'Palak'}, (8, 8, 8), 'Kanika'])

In [ ]:
list(d16.values())

[['data science masters', 'web dev', 'JDS'],
 (28, 14, 21),
 {'Hayder', 'Hitesh', 'Krish Naik', 'Navin', 'Palak'},
 (8, 8, 8),
 'Kanika']

In [ ]:
list(d16.keys())

['batch_name', 'start_date', 'mentor_name', 'timing', 'name']

In [ ]:
d16.items()

dict_items([('batch_name', ['data science masters', 'web dev', 'JDS']), ('start_date', (28, 14, 21)), ('mentor_name', {'Hayder', 'Navin', 'Krish Naik', 'Hitesh', 'Palak'}), ('timing', (8, 8, 8)), ('name', 'Kanika')])

In [ ]:
list(d16.items())

[('batch_name', ['data science masters', 'web dev', 'JDS']),
 ('start_date', (28, 14, 21)),
 ('mentor_name', {'Hayder', 'Hitesh', 'Krish Naik', 'Navin', 'Palak'}),
 ('timing', (8, 8, 8)),
 ('name', 'Kanika')]

In [ ]:
d16

{'batch_name': ['data science masters', 'web dev', 'JDS'],
 'start_date': (28, 14, 21),
 'mentor_name': {'Hayder', 'Hitesh', 'Krish Naik', 'Navin', 'Palak'},
 'timing': (8, 8, 8),
 'name': 'Kanika'}

In [ ]:
d17=d16.copy()

In [ ]:
d17

{'batch_name': ['data science masters', 'web dev', 'JDS'],
 'start_date': (28, 14, 21),
 'mentor_name': {'Hayder', 'Hitesh', 'Krish Naik', 'Navin', 'Palak'},
 'timing': (8, 8, 8),
 'name': 'Kanika'}

In [ ]:
del d16['name']

In [ ]:
d16

{'batch_name': ['data science masters', 'web dev', 'JDS'],
 'start_date': (28, 14, 21),
 'mentor_name': {'Hayder', 'Hitesh', 'Krish Naik', 'Navin', 'Palak'},
 'timing': (8, 8, 8)}

In [ ]:
d17

{'batch_name': ['data science masters', 'web dev', 'JDS'],
 'start_date': (28, 14, 21),
 'mentor_name': {'Hayder', 'Hitesh', 'Krish Naik', 'Navin', 'Palak'},
 'timing': (8, 8, 8),
 'name': 'Kanika'}

In [ ]:
d18=d16

In [ ]:
d18

{'batch_name': ['data science masters', 'web dev', 'JDS'],
 'start_date': (28, 14, 21),
 'mentor_name': {'Hayder', 'Hitesh', 'Krish Naik', 'Navin', 'Palak'},
 'timing': (8, 8, 8)}

In [ ]:
d16

{'batch_name': ['data science masters', 'web dev', 'JDS'],
 'start_date': (28, 14, 21),
 'mentor_name': {'Hayder', 'Hitesh', 'Krish Naik', 'Navin', 'Palak'},
 'timing': (8, 8, 8)}

In [ ]:
d16.pop()

TypeError: pop expected at least 1 argument, got 0

In [ ]:
d16.pop('timing')

(8, 8, 8)

In [ ]:
d16

{'batch_name': ['data science masters', 'web dev', 'JDS'],
 'start_date': (28, 14, 21),
 'mentor_name': {'Hayder', 'Hitesh', 'Krish Naik', 'Navin', 'Palak'}}

In [ ]:
d16.pop('mentor_name')

{'Hayder', 'Hitesh', 'Krish Naik', 'Navin', 'Palak'}

In [ ]:
d16

{'batch_name': ['data science masters', 'web dev', 'JDS'],
 'start_date': (28, 14, 21)}

In [ ]:
d.fromkeys((1,2,3),('a','b','c')) #iterables try to create keys

{1: ('a', 'b', 'c'), 2: ('a', 'b', 'c'), 3: ('a', 'b', 'c')}

In [ ]:
d19={"key1":"value","key2":"value2"}
d20={"key3":"value3","key4":"value4"}

In [ ]:
(d19,d20)

({'key1': 'value', 'key2': 'value2'}, {'key3': 'value3', 'key4': 'value4'})

In [ ]:
d19.update(d20)

In [ ]:
d19     #update from d20 take all unique values from d20

{'key1': 'value', 'key2': 'value2', 'key3': 'value3', 'key4': 'value4'}

In [ ]:
d20

{'key3': 'value3', 'key4': 'value4'}

In [ ]:
d20.get("pal")

In [ ]:
d20

{'key3': 'value3', 'key4': 'value4'}

In [ ]:
d20.get("key3")

'value3'

In [ ]:
d20["key3"]    # same as get function

'value3'

In [ ]:
d20["pal"]     #error but get never gives you an error

KeyError: 'pal'

Dictionary Comprehension

In [103]:
{ i:i**2 for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [104]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [105]:
{ i:i+10 for i in range(1,11)}

{1: 11, 2: 12, 3: 13, 4: 14, 5: 15, 6: 16, 7: 17, 8: 18, 9: 19, 10: 20}

In [111]:
import math
d21={i:math.log10(i)for i in range(1,11)}

In [108]:
d16

{'batch_name': ['data science masters', 'web dev', 'JDS'],
 'start_date': (28, 14, 21)}

In [109]:
'batch_name' in d16

True

In [112]:
d21

{1: 0.0,
 2: 0.3010299956639812,
 3: 0.47712125471966244,
 4: 0.6020599913279624,
 5: 0.6989700043360189,
 6: 0.7781512503836436,
 7: 0.8450980400142568,
 8: 0.9030899869919435,
 9: 0.9542425094393249,
 10: 1.0}

In [115]:
d21.keys()

dict_keys([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

In [116]:
for i in d21.keys():
    if i%2==0: 
        print(d21[i])

0.3010299956639812
0.6020599913279624
0.7781512503836436
0.9030899869919435
1.0