In [43]:
str1="PW Skills Data Science masters"
list(str1.split(" "))
lst1=str1.split(" ")
lst1
lst1[1:]

['Skills', 'Data', 'Science', 'masters']

In [44]:
lst1[::-2]

['masters', 'Data', 'PW']

In [45]:
## Concatenation operation
lst1+['new element',3]

['PW', 'Skills', 'Data', 'Science', 'masters', 'new element', 3]

In [46]:
lst2=lst1+[['new element',3]]

In [47]:
lst2[-1][0]

'new element'

In [48]:
lst1*2

['PW',
 'Skills',
 'Data',
 'Science',
 'masters',
 'PW',
 'Skills',
 'Data',
 'Science',
 'masters']

In [49]:
for element in lst1:
    print(element)
    if "Science" in lst1:
        print(element)
        break

PW
PW

In [50]:
## Check elements inside a list
lst=[1,2,3,4]
4 in lst

True

In [51]:
lst1=["Zebra","Monkey","Donkey","Lion"]
lst2=[5,6,2,9,5,8,6]
print(max(lst1))

Zebra

In [52]:
max(lst2)

9

In [53]:
min(lst1)

'Donkey'

In [54]:
## Append

In [55]:
lst4=[1,2,3,4,5,6]
lst4

[1, 2, 3, 4, 5, 6]

In [56]:
lst4.append("pwskills")
lst4

[1, 2, 3, 4, 5, 6, 'pwskills']

In [57]:
lst4.append(['Data','Science','Masters'])
lst4

[1, 2, 3, 4, 5, 6, 'pwskills', ['Data', 'Science', 'Masters']]

In [58]:
lst1=["Zebra","Monkey","Donkey","Lion"]
lst1.pop()

'Lion'

In [59]:
lst1

['Zebra', 'Monkey', 'Donkey']

In [60]:
lst1.pop(2)

'Donkey'

In [61]:
lst1

['Zebra', 'Monkey']

In [62]:
removed_element=lst1.pop(0)
removed_element

'Zebra'

In [63]:
lst1[100]

IndexError: list index out of range

In [ ]:
new_list=['q','e','f','s','t','u']
new_list

['q', 'e', 'f', 's', 't', 'u']

In [ ]:
new_list[::-1]

['u', 't', 's', 'f', 'e', 'q']

In [ ]:
new_list.reverse()  ## reverse the order
new_list

['u', 't', 's', 'f', 'e', 'q']

In [ ]:
new_list.sort()   ##Sorting in the ascending order
new_list

['e', 'f', 'q', 's', 't', 'u']

In [ ]:
lst=[1,2,3,4,5,6]
lst.append(10)

In [ ]:
lst.append(['PW','Skills'])
lst

[1, 2, 3, 4, 5, 6, 10, ['PW', 'Skills']]

In [ ]:
lst.extend(['PW','Skills'])  ## added separately
lst

[1, 2, 3, 4, 5, 6, 10, ['PW', 'Skills'], 'PW', 'Skills']

## Nested List

In [ ]:
# Let's make three lists
lst_1=[1,2,3]
lst_2=[4,5,6]
lst_3=[7,8,9]
# Make a list of list to form a matrix
matrix=[lst_1,lst_2,lst_3]

In [ ]:
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
matrix[1][2]

6

In [ ]:
matrix[2][1:]

[8, 9]

In [ ]:
matrix[:]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
matrix[0:][1]

[4, 5, 6]

In [ ]:
## List comprehension
[i for i in range(20)]
## even
[i if i%2==0 else "Odd" for i in range(20)]

[0,
 'Odd',
 2,
 'Odd',
 4,
 'Odd',
 6,
 'Odd',
 8,
 'Odd',
 10,
 'Odd',
 12,
 'Odd',
 14,
 'Odd',
 16,
 'Odd',
 18,
 'Odd']

In [71]:
lst = [1,2,3,4,5,6,7,8]
#Find even and odd sum
even_sum=0
odd_sum=0
for i in lst:
    if i%2==0:
        even_sum +=i
    else:
        odd_sum +=i
print(even_sum)
print(odd_sum)

20
16

In [72]:
# By list comprehension
[num for num in lst if num%2==0]

[2, 4, 6, 8]

In [76]:
even_sum=sum([num for num in lst if num%2==0])
even_sum

20

In [77]:
odd_sum=sum([num for num in lst if num%2!=0])
odd_sum

16

In [78]:
lst=[1,2,3,4,5,6,7,8,9,10]
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [79]:
[num**2 for num in lst]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [81]:
# Example create a list of only the positive numbers from a given list
numbers=[-2,-1,0,1,2,3,4]
[num for num in numbers if num>0]

[1, 2, 3, 4]

In [82]:
# Create a list pof first letter
words=['apple','banana','cherry','date']
[word[0] for word in words]

['a', 'b', 'c', 'd']

In [83]:
# celsius in fahreheit
(9/5)*temp+32

NameError: name 'temp' is not defined

In [84]:
# Convert temp from celsius to fahrenheit
celsius_temperature=[0,10,20,30,40,50]
[(9/5)*temp+32 for temp in celsius_temperature]

[32.0, 50.0, 68.0, 86.0, 104.0, 122.0]

In [85]:
# Flatten a list of list into single list
lists=[[1,2,3],[4,5,6],[7,8,9]]
[num for sublist in lists for num in sublist]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [86]:
[j for i in lists for j in i]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# Assignments
# Using both code and list comprehension
# Example 2: Create a list of only the prime numbers from a given list
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# Example 3: Create a list of all the possible combinations of 2 elements from a list
numbers = [1, 2, 3, 4, 5]

In [1]:
(1,2),(1,3)

((1, 2), (1, 3))