In [66]:
# The difference between tuple and list is that in list we use sq 
# bracket but in tuple we use parenthesis i.e round bracket

In [67]:
t=()

In [68]:
type(t)

tuple

In [69]:
t1=(1,2,3,4,45,67,45.76,"Palak",45+7j)

In [70]:
type(t1)

tuple

In [71]:
l=[1,2,3,4]

In [72]:
type(l)

list

In [73]:
t1

(1, 2, 3, 4, 45, 67, 45.76, 'Palak', (45+7j))

In [74]:
t1[0]

1

In [75]:
t1[7]

'Palak'

In [76]:
t1[::-1]

((45+7j), 'Palak', 45.76, 67, 45, 4, 3, 2, 1)

In [77]:
t1=t1[::-1]

In [78]:
t1

((45+7j), 'Palak', 45.76, 67, 45, 4, 3, 2, 1)

In [79]:
t1[0:2]

((45+7j), 'Palak')

In [80]:
t1.count(4)

1

In [81]:
t1.count("abc")

0

In [82]:
t1.index(1)

8

In [83]:
t1.index("Palak")

1

In [84]:
t1.count(True) ## Since 1 is taken as true

1

In [85]:
t1.count(1)

1

In [86]:
t1

((45+7j), 'Palak', 45.76, 67, 45, 4, 3, 2, 1)

In [87]:
l

[1, 2, 3, 4]

In [88]:
t1[0]

(45+7j)

In [89]:
t1[0]=345  ##immutable

TypeError: 'tuple' object does not support item assignment

In [ ]:
l[0]=100   ## mutable

In [ ]:
l

[100, 2, 3, 4]

In [ ]:
t1

((45+7j), 'Palak', 45.76, 67, 45, 4, 3, 2, 1)

In [ ]:
for i in t1:
    print(i)

(45+7j)
Palak
45.76
67
45
4
3
2
1

In [ ]:
for i in t1:
    print(i,type(i))

(45+7j) <class 'complex'>
Palak <class 'str'>
45.76 <class 'float'>
67 <class 'int'>
45 <class 'int'>
4 <class 'int'>
3 <class 'int'>
2 <class 'int'>
1 <class 'int'>

In [91]:
t2=(1,2,3,3,4)
t2

(1, 2, 3, 3, 4)

In [92]:
t2*3

(1, 2, 3, 3, 4, 1, 2, 3, 3, 4, 1, 2, 3, 3, 4)

In [93]:
max(t2)

4

In [94]:
min(t2)

1

Tuples are basically immutability concepts where it is not going to allow to change any element at a particular index

In [95]:
t1=(1,2,32,4)
t2=(4,5,6,7,8)

In [96]:
t3=(t1,t2)

In [97]:
t3

((1, 2, 32, 4), (4, 5, 6, 7, 8))

In [98]:
t4=((1,2,3,4,5),[1,3,5,7,8])

In [99]:
t4

((1, 2, 3, 4, 5), [1, 3, 5, 7, 8])

In [101]:
del t4

In [102]:
t4

NameError: name 't4' is not defined

In [103]:
t1

(1, 2, 32, 4)

In [104]:
len(t1)

4

In [105]:
"Palak" in t1

False

In [106]:
2 in t1

True